#containerlanding{
  text-align: center;
  margin: auto;
  width: 25%;
  padding: 10px;
}
#containerlogo{
  text-align:center;
}
#landinglogo{
  text-align: center;
  display: block;
}
#logo{
  align-content: center;
  width:320px; 
  height:350px;
}
